<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa:600&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
</head>
<body>
<script src="js/particles.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<ul class="navbar">
  <li class="navbar"><a href="index">Welcome</a></li>
  <li class="navbar"><a href="home">Home</a></li>
  <!-- <li class="navbar"><a href="#contact">Contact</a></li> -->
</ul>
<header> User Dashboard </header>
<div class="tariff">
		<label>Earned from Selling Power to MicroGrid: </label>
		<!-- <input class="earned" type="number" name="earned" placeholder="Amount"> -->
		<h4> ₹ <%= Number(wallet.earned).toFixed(4) %> </h4>
		
		<label>Tariff for bought power : </label>
		<h4> ₹ <%= Number(wallet.owes).toFixed(4) %> </h4>
		<!-- <input class="tariffpay" type="number" name="tariffpay" placeholder="Amount"> -->
		<div class="buysell" id="bs">
		<div>
			<p> Do you want to sell the power? </p>
			<button class="button button5" id="syes">Yes</button>
			<button   class="button button5" id="sno">No</button>
			<div id="output"></div>
		</div>
		<div>
			<p> Do you want to buy power? </p>
			<button class="button button5" id="byes" >Yes</button>
			<button class="button button5">No</button>
			<div id="output1"></div>
		</div>
	
		</div>
</div>
<div class="article"> 
	<div class="putil">
		<label>Power Utlised (in Watts)</label>
		<p id="power_con"> </p>
		<h4> <%= Number(powconn.PCon).toFixed(4) %> </h4>
	</div>
	<div class="pgen">
		<label>Power Generated (in Watts)</label>
		<h4> <%= Number(powergen.Power).toFixed(4) %> </h4>
	</div>
	<br>
	<br>
	<div class="prem">
		<label>Power Remaining (after buying/selling)</label>
		<div class="powerrem" type="number" name="powerremaining" ></div>
		<h4> <%= Number(updated_pow.PowerRemaining).toFixed(4) %> </h4>
		<label>Power Remaining (inital)</label>
		<div class="powerrem" type="number" name="powerremaining" ></div>
		<h4> <%= Number(powerrem.PowerRemaining).toFixed(4) %> </h4>
	</div>
	

</div>
<input type="button" class="bttn" value="reload" onclick="wis()"/>
<input type="button" class="bttn" value="save" onclick="save()"/>

	<h2 class="app">Appliances</h2>
<div id="device" class="applist">
  <div class="container">
  	<div class="item hd"><label>Appliance Name</label>
			</div>
  	<div class="item hd"><label>Load  (Watts)</label>
 
  	</div>
		<div class="item"><label>AC</label>
		
  	<label class="switch">
			
			<input type="checkbox" id="ac" name="ac" class="save-cb-state">
				  <span class="slider round"></span>
	</label></div>
  	<div class="item"><label>1000</label></div>
  	<div class="item"><label style="margin-left: -5.5em;">Electric Vehicle</label>
  	<label class="switch">
				  <input type="checkbox" id="ev" name="ev" class="save-cb-state"> 
				  <span class="slider round"></span>
				</label></div>
  	<div class="item"><label>2000</label></div>
  	<div class="item"><label style="margin-left: -5.5em;">Washing Machine</label>
  	<label class="switch">
				  <input type="checkbox" id="wm" class="save-cb-state">
				  <span class="slider round"></span>
				</label></div>
  	<div class="item"><label>300</label></div>
  	<div class="item"><label>Pump</label>
  	<label class="switch">
				  <input type="checkbox" id="pu" class="save-cb-state">
				  <span class="slider round"></span>
				</label></div>
  	<div class="item"><label>1000</label></div>
  </div>
  
</div>

<!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

		
		<script>
// document.getElementById("bs").style.visibility="hidden";


var output = document.getElementById('output');
var output1 = document.getElementById('output1');
// function onClickBox() {
// 				let checked=$("#ac").is(":checked");
// 				localStorage.setItem("checked", checked);
		
// 			}
// 			function onReady() {
		
// 				let checked="true"==localStorage.getItem("checked");
// 				$("#ac").prop('checked', checked);
// 				$("#ac").click(onClickBox);
// 			}
// 			$(document).ready(onReady);

// 			function onClickBox1() {
// 				let checked=$("#ev").is(":checked");
// 				localStorage.setItem("checked1", checked);
		
// 			}
// 			function onReady1() {
			
// 				let checked="true"==localStorage.getItem("checked1");
// 				$("#ev").prop('checked1', checked);
// 				$("#ev").click(onClickBox1);
// 			}

// 			$(document).ready(onReady1);

function save(){
    var checkbox = document.getElementById('ac');
	localStorage.setItem('ac', checkbox.checked);
	var checkbox1 = document.getElementById('ev');
	localStorage.setItem('ev', checkbox1.checked);
	var checkbox2 = document.getElementById('wm');
	localStorage.setItem('wm', checkbox2.checked);
	var checkbox3 = document.getElementById('pu');
    localStorage.setItem('pu', checkbox3.checked);
}

function load(){    
    var checked = JSON.parse(localStorage.getItem('ac'));
	document.getElementById("ac").checked = checked;
	var checked1 = JSON.parse(localStorage.getItem('ev'));
	document.getElementById("ev").checked = checked1;
	var checked2 = JSON.parse(localStorage.getItem('wm'));
	document.getElementById("wm").checked = checked2;
	var checked3 = JSON.parse(localStorage.getItem('pu'));
    document.getElementById("pu").checked = checked3;
}
load();
function wis(){
location.reload();
}
var pc = document.getElementById('powercon');



			var socket = io(); //load socket.io-client and connect to the host that serves the page

			var sellyes = document.getElementById("syes");
			var buyyes = document.getElementById("byes");
		var sellno = document.getElementById("sno");
		


			window.addEventListener("load", function(){ //when page loads

				sellyes.addEventListener("click", function(){
	socket.emit("insert", {status: 1, alert: 1});
});
buyyes.addEventListener("click", function(){
	socket.emit("buy",{status: 1, alert: 1});
})
	socket.on('insert', function(data){
		if(data.alert){
			console.log("Data alert " + data.alert);
			output.innerHTML= '<p>'+ "Power Sold to MicroGrid" + '</p>';
		}
		else{
			console.log("Data alert " + data.alert);
			output.innerHTML= '<p><strong>'+ "Power Less than 0. You need to buy Power" + '</p></h5>';
		}
	});
	socket.on('buy', function(data){
		if(data.alert){
			console.log("Data alert " + data.alert);
			output1.innerHTML= '<p>'+ "Power Bought from MicroGrid" + '</p>';
		}
		else{
			console.log("Data alert " + data.alert);
			output1.innerHTML= '<p><strong>'+ "Power bought from Main grid (Extra charge) " + '</p></h5>';
		}
	});

				var ac = document.getElementById("ac");
				ac.addEventListener("change", function() { //add event listener for when checkbox changes
					socket.emit("AC", Number(this.checked)); //send button status to server (as 1 or 0)
		
			
			
				});


					
			
				var ev = document.getElementById("ev");
				ev.addEventListener("change", function() { //add event listener for when checkbox changes
					socket.emit("Electric Vehicle", Number(this.checked)); //send button status to server (as 1 or 0)
				
				});
				var wm = document.getElementById("wm");
				wm.addEventListener("change", function() { //add event listener for when checkbox changes
					socket.emit("Washing Machine", Number(this.checked)); //send button status to server (as 1 or 0)
					
				});
				var pu = document.getElementById("pu");
				pu.addEventListener("change", function() { //add event listener for when checkbox changes
					socket.emit("Pump", Number(this.checked)); //send button status to server (as 1 or 0)
				});

			});
	



			
			</script>

</body>
</html>

